.wrap {
    background-color: #17202A;
    width: 500px;
    height: 1000px;
    margin-left: 300px;
}

.heading {
    color: aqua;
    padding-top: 30px;
    margin-left: 85px;
    font-family: cursive;
}

.formbody {
    padding: 25px;
    text-align: center;
}

.forform
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid #999;
    outline: none;
    background-position: center;
}

.textarea
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid #999;
    outline: none;
    background-position: center;
}


button
{
    color:  #17202A;
    width: 120px;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    background-color: aqua;
}


